### Exercise 1: From the given dataset print the first and last five rows

In [97]:
from pandas import *
from numpy import *

In [98]:
df = read_csv("Cars.csv")
df.set_index('index',inplace=True)

### Exercise 2: Clean the dataset and update the CSV file

**Hint:** Replace all column values which contain **`?`**, **`n.a`**, or **`NaN`**.

In [101]:
# To check whether there are any null values
df.count()

# Here we have 3 null values in price column
df = df.drop_duplicates(ignore_index=True)
# print(df.head())
df.count()

company             60
body-style          60
wheel-base          60
length              60
engine-type         60
num-of-cylinders    60
horsepower          60
average-mileage     60
price               58
dtype: int64

In [119]:
df['price'].isna()
df['price'].apply(lambda x:0 if df['price'].isna() == True)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46     True
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: price, dtype: bool

### Exercise 3: Find the most expensive car company name

Print most expensive car’s company name and price.

In [40]:
mx = df['price'].max()
df[df['price'] == mx]

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
34,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0

### Exercise 4: Print All Toyota Cars details

In [43]:
df[df['company']=='toyota']

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
47,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
48,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
49,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
50,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
51,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
52,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
53,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

### Exercise 5: Count total cars per company

### Exercise 6: Find each company’s Higesht price car

### Exercise 7: Find the average mileage of each car making company

### Exercise 8: Sort all cars by Price column

### Exercise 9: Concatenate two data frames using the following conditions

**Hint:** Create two data frames using the following two dictionaries

In [41]:
import pandas as pd

GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
carsDf1 = pd.DataFrame.from_dict(GermanCars)

japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
carsDf2 = pd.DataFrame.from_dict(japaneseCars)

carsDf = #Complete the Code here!

SyntaxError: invalid syntax (2920681332.py, line 9)

### Exercise 10: Merge two data frames using the following condition

**Hint:** Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.

In [ ]:
import pandas as pd

Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
carPriceDf = pd.DataFrame.from_dict(Car_Price)

car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}
carsHorsepowerDf = pd.DataFrame.from_dict(car_Horsepower)

carsDf = #Complete the Code here!