In [5]:
from pandas import *
from numpy import *

In [7]:
df = read_csv("Flavor_Rating.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

## Syntax For Group By
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=NoDefault.no_default, observed=False, dropna=True)

### df.groupby("Column_Names")["Required_Colums"].agg(["Required agg functions on that columns"])

In [8]:
df.groupby(["Base Flavor", "Liked"]).max()

                                Flavor  Flavor Rating  Texture Rating  \
Base Flavor Liked
Chocolate   Yes             Rocky Road            8.8             7.6
Vanilla     No                 Vanilla            4.7             5.0
            Yes    Mint Chocolate Chip           10.0             8.0

                   Total Rating
Base Flavor Liked
Chocolate   Yes            16.6
Vanilla     No              9.7
            Yes            18.0

In [9]:
# Group by 'Flavor' and apply multiple aggregation functions to 'Total Rating'
grouped_by_flavor_agg = df.groupby(['Base Flavor','Liked'])[['Flavor Rating', 'Texture Rating','Total Rating']].agg(['mean', 'max', 'min','sum'])
print(grouped_by_flavor_agg)

                  Flavor Rating                  Texture Rating            \
                           mean   max  min   sum           mean  max  min
Base Flavor Liked
Chocolate   Yes             8.4   8.8  8.2  25.2       7.233333  7.6  7.0
Vanilla     No              3.6   4.7  2.3  10.8       4.466667  5.0  3.4
            Yes             7.8  10.0  6.5  23.4       6.833333  8.0  6.0

                        Total Rating
                    sum         mean   max   min   sum
Base Flavor Liked
Chocolate   Yes    21.7    15.700000  16.6  15.2  47.1
Vanilla     No     13.4     8.066667   9.7   5.7  24.2
            Yes    20.5    14.633333  18.0  12.5  43.9

In [12]:
fl_dict = {
    "Flavor Rating": ["mean", "max", "min", "sum"],
    "Texture Rating": ["mean", "max", "min", "sum"],
    "Total Rating": ["mean", "max", "min", "sum"],
}

In [13]:
df.groupby(['Base Flavor'])\
    .agg(fl_dict)

            Flavor Rating                  Texture Rating                  \
                     mean   max  min   sum           mean  max  min   sum
Base Flavor
Chocolate             8.4   8.8  8.2  25.2       7.233333  7.6  7.0  21.7
Vanilla               5.7  10.0  2.3  34.2       5.650000  8.0  3.4  33.9

            Total Rating
                    mean   max   min   sum
Base Flavor
Chocolate          15.70  16.6  15.2  47.1
Vanilla            11.35  18.0   5.7  68.1